<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.fhooe.mc.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
        android:name=".login.login_hello"
        android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity android:name=".main_menu.Railchat_Main_Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    
        <activity android:name=".login.login_auth">

        <activity
            android:name=".travel.Railchat_New_Travel"
            android:label="@string/title_activity_railchat__new__travel"
            android:parentActivityName=".main_menu.Railchat_Main_Menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.fhooe.mc.android.main_menu.Railchat_Main_Menu" />
        </activity>
    </application>

</manifest>